<h6>Create todo:</h6>
<form (ngSubmit)="onSubmit()" #todoForm="ngForm">
  <div class="form-row">
    <div class="col-auto">
      <input type="text" class="form-control" [(ngModel)]="model.description" id="txtdescription" name="description" #description="ngModel">
    </div>
    <div class="col-auto">
      <input type="text" class="form-control" [(ngModel)]="model.responsible" id="txtresponsible" name="description" #responsible="ngModel">
    </div>
    <div class="col-auto">
      <select class="form-control" [(ngModel)]="model.priority" id="selpriority" name="priority" #priority="ngModel">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </div>
</form>
<br>
<h6>Todos List:</h6>
<div *ngIf="(todos| async)?.length !=0">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Todo Description</th>
        <th>Responsible</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos | async">
        <td (click)="toggleTodo(todo)">
          <span [class.completed]="todo.isCompleted">{{todo.id}}</span>
        </td>
        <td (click)="toggleTodo(todo)">
          <span [class.completed]="todo.isCompleted">{{todo.description}}</span>
        </td>
        <td (click)="toggleTodo(todo)">
          <span [class.completed]="todo.isCompleted">{{todo.responsible}}</span>
        </td>
        <td>
          <span *ngIf="todo.priority == 'low'" class="badge badge-success">
            Low</span>
          <span *ngIf="todo.priority == 'medium'" class="badge badge-warning">
            Medium</span>
          <span *ngIf="todo.priority == 'high'" class="badge badge-danger">
            High</span>
        </td>
        <td>
          <span>
            <button class="btn btn-primary" (click)="removeTodo(todo)">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>